*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

#navbar{
    background-color: #BE3144;
    position: fixed;
    width: 100%;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    margin-left: 800px;
    margin-right: 20px;
    width: fit-content;
   
}

#navbar > ul > li{
    padding: 15px;
    list-style-type: none;
}

#navbar > ul > li > a{
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

#welcome-section{
    height: 100vh;
    width: 100%;
    background-color: #242527;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section > h1{
    color: white;
    font-weight: bolder;
    font-size: 60px;
    
    
}

#welcome-section > h3{
    color: white;
    font-style: italic;
    font-weight: lighter;
    color: #BE3144;;
    font-size: 35px;
}

#project{
    background-color: #45567D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-section-title{
    margin-top: 70px;
    color: white;
    font-weight: bolder;
    
}

hr{
    background-color: white;
    height: 0.1px;
    width: 100%;
    padding: -10px;
    margin-bottom: 30px;
}

.section-box{
    display: grid;
    column-gap: 35px;
    row-gap: 35px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    grid-template-columns: 320px 320px 320px;
}

.project-title{
    background-color: #303840;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 320px;
    font-size: 12px;
    word-spacing: 5px;
    color: white;
    font-weight: lighter;
    text-align: center;
}

.project-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Project-thumbnails{
    width: 320px;
    height: 300px;
}


#project > a > h4 {
    color: white;
    background-color: #303840;
    word-spacing: 5px;
    padding: 10px;
    margin-bottom: 70px;
}




.project-title > h2 > span{
    color: #303840;
}





 #contact-section{
     display: flex;
     flex-direction: column;
     background-color: #303840;
     align-items: center;
     justify-content: center;
 }

 #contact-section h1{
     margin-top: 50px;
     font-size: 50px;
     padding: 15px;
 }
 #contact-section h4{
    font-weight: lighter;
    font-style: italic;
    word-spacing: 2px;
    margin-bottom: 40px;
}


 #contact-section h1 , h2 , h4{
     color: white;
 }

 .buttons-section{
     display:flex;
     flex-direction: row;
     column-gap: 30px;
     margin-bottom: 100px;
 }

 .buttons svg{
     padding-right: 5px;
 }

 .buttons h2{
     font-size:x-large larger;
     font-weight: lighter;
 }


